<div class="page-wrapper">
<body>
  <section class="content">
    <h1 class="section-title">Model</h1>

    <app-rifle-preview></app-rifle-preview>
            <p *ngIf="state.selectedRifle?.description" class="rifle-description">
      {{ state.selectedRifle.description }}
    </p>
    <form>

        <!-- Wybór modelu --> 
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Model</mat-label>
          <mat-select
            [value]="state.selectedRifle"
            (selectionChange)="onSelectRifle($event.value)"
            [compareWith]="compareById"
            placeholder="Wybierz model"
            
          >
            <mat-option *ngFor="let rifle of rifles" [value]="rifle">
              <div class="option-template">
                <img [src]="rifle.imageUrl" alt="{{ rifle.name }}" />
                <span>{{ rifle.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Wybór lewo/prawo --> 
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Prawo-/Leworęczna</mat-label>
          <mat-select
            [value]="state.selectedHandConfiguration"
            (selectionChange)="onSelectHandConfiguration($event.value)"
            [compareWith]="compareById"
            placeholder="Wybierz prawo-/leworęczność"
            
          >
            <mat-option *ngFor="let handConfiguration of handConfigurations" [value]="handConfiguration">
              <div class="option-template">
                <img [src]="handConfiguration.imageUrl" alt="{{ handConfiguration.name }}" />
                <span>{{ handConfiguration.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>
      <div class="button-container">
        <button class="next-button" (click)="onNext()">Dalej →</button>
      </div>
</section>
</body>
<footer class="footer">
  <small>
    Developed by 
    <a href="mailto:s.piatkowski@twojabron.pl" class="footer-link">
      <i class="fa fa-envelope"></i> Sebastian Piątkowski
    </a> 
    for TBCH sp. z o.o.
  </small>
</footer>
</div>