 
<body>
  <section class="content">
    <h1 class="section-title">Model</h1>

    <div class="rifle-preview" *ngIf="state.selectedContour">
      <img *ngIf="state.selectedContour" [src]="state.selectedContour.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedProfile" [src]="state.selectedProfile.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedOpenSight" [src]="state.selectedOpenSight.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedMuzzleBrakeOrSuppressor" [src]="state.selectedMuzzleBrakeOrSuppressor.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedButtstockType" [src]="state.selectedButtstockType.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedWoodCategory" [src]="state.selectedWoodCategory.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedPistolGripCap" [src]="state.selectedPistolGripCap.imageUrl" class="rifle-layer">
      <img *ngIf="state.selectedForearmOption" [src]="state.selectedForearmOption.imageUrl" class="rifle-layer">
    </div>
    
    <form class="container">
        <!-- Wybór modelu --> 
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Model</mat-label>
          <mat-select
            [value]="state.selectedRifle"
            (selectionChange)="onSelectRifle($event.value)"
            [compareWith]="compareById"
            placeholder="Wybierz model"
            
          >
            <mat-option *ngFor="let rifle of rifles" [value]="rifle">
              <div class="option-template">
                <img [src]="rifle.imageUrl" alt="{{ rifle.name }}" />
                <span>{{ rifle.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Wybór lewo/prawo --> 
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Prawo-/Leworęczna</mat-label>
          <mat-select
            [value]="state.selectedHandConfiguration"
            (selectionChange)="onSelectHandConfiguration($event.value)"
            [compareWith]="compareById"
            placeholder="Wybierz prawo-/leworęczność"
            
          >
            <mat-option *ngFor="let handConfiguration of handConfigurations" [value]="handConfiguration">
              <div class="option-template">
                <img [src]="handConfiguration.imageUrl" alt="{{ handConfiguration.name }}" />
                <span>{{ handConfiguration.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>
</section>
</body>
