<div class="page-wrapper">
<div class="contact-form">
  <h2 class="contact-title">Wyślij wiadomość do sprzedawcy</h2>

  <!-- Imię -->
  <div class="form-group">
    <label for="name">Twoje imię:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="userName"
      placeholder="Wpisz swoje imię"
    />
  </div>

  <!-- E-mail -->
  <div class="form-group">
    <label for="email">Twój adres e-mail:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="userEmail"
      placeholder="Wpisz swój e-mail"
    />
  </div>

  <!-- Wiadomość -->
  <div class="form-group">
    <label for="message">Pytanie:</label>
    <textarea
      id="message"
      [(ngModel)]="userMessage"
      placeholder="Twoja wiadomość"
    ></textarea>
  </div>

  <button (click)="sendEmail()">Wyślij</button>

  <!-- Komunikaty -->
  <div *ngIf="successMessage" class="message-success">
    ✅ {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="message-error">
    ❌ {{ errorMessage }}
  </div>
</div>
<footer class="footer">
  <small>
    Developed by 
    <a href="mailto:s.piatkowski@twojabron.pl" class="footer-link">
      <i class="fa fa-envelope"></i> Sebastian Piątkowski
    </a> 
    for TBCH sp. z o.o.
  </small>
</footer>


</div>
