<!-- Navbar -->
<nav class="navbar" *ngIf="!isHomePage()">
  <!-- Nagłówek z przyciskiem hamburger menu -->
  <div class="navbar-header">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  </div>

  <!-- Niestandardowy dropdown -->
  <div class="custom-dropdown" *ngIf="menuOpen">
    <!-- Dodajemy przycisk zamykający -->
    <button class="close-dropdown" (click)="toggleMenu()">✖</button>
    <ul class="dropdown-list show">
      <li *ngFor="let category of categories">
        <a (click)="navigateTo(category)">{{ category.title }}</a>
      </li>
    </ul>
  </div>
</nav>
