<nav class="navbar" *ngIf="!isHomePage()">
  <!-- Nagłówek z przyciskiem hamburger menu -->
  <div class="navbar-header">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  </div>

  <!-- Niestandardowy dropdown dla urządzeń mobilnych -->
  <div class="custom-dropdown" *ngIf="menuOpen">
    <!-- Dodajemy przycisk zamykający -->
    <button class="close-dropdown" (click)="toggleMenu()">✖</button>
    <ul class="dropdown-list show">
      <li *ngFor="let category of categories">
        <a
          class="navbar-link"
          [class.disabled]="!isCategoryEnabled(category.path)"
          [class.active]="isActiveCategory(category)"
          [attr.aria-disabled]="!isCategoryEnabled(category.path)"
          (click)="isCategoryEnabled(category.path) && navigateTo(category)"
        >
          {{ category.title }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Linki nawigacyjne -->
  <div class="navbar-links">
    <ul>
      <li *ngFor="let category of categories">
        <a
          class="navbar-link"
          [class.disabled]="!isCategoryEnabled(category.path)"
          [class.active]="isActiveCategory(category)"
          (click)="isCategoryEnabled(category.path) && navigateTo(category)"
        >
          {{ category.title }}
        </a>
      </li>
    </ul>
  </div>
</nav>
