.navbar {
  background-color: #990000; /* Czerwone tło */
  padding: 10px 20px;
  width: 100%;
  position: relative;
}

.navbar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ukryty domyślnie */
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-list.show {
  display: block;
}

.dropdown-list li a {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.dropdown-list li a:hover {
  background-color: #f1f1f1;
}

.close-dropdown {
  display: none;
}

.active {
  color: #fff; /* Biały kolor tekstu */
  background-color: #b30000; /* Ciemnoczerwone tło */
  border-radius: 5px; /* Zaokrąglone rogi */
  padding: 6px 10px; /* Wewnętrzne odstępy */
  text-decoration: none; /* Brak podkreślenia */
  font-weight: normal; /* Normalna grubość czcionki */
  transition: all 0.3s ease; /* Płynne przejścia */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Subtelny cień */
}

.active:hover {
  background-color: #990000; /* Jeszcze ciemniejszy odcień czerwieni przy najechaniu */
  color: #f8f8f8; /* Lekko przygaszony biały tekst */
}

.navbar-link {
  color: #fff; /* Biały kolor tekstu */
  text-decoration: none; /* Brak podkreślenia */
  padding: 8px 12px; /* Wewnętrzne odstępy */
  display: inline-block; /* Umożliwia dodanie tła i marginesów */
  transition: all 0.3s ease; /* Płynne przejścia */
  cursor: pointer; /* Zmiana kursora na "rękę" */
  position: relative; /* Dla efektu przesunięcia */
}

.navbar-link::after {
  content: ''; /* Pseudo-element do efektu */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: transparent; /* Domyślnie niewidoczne */
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: #ffe6e6; /* Jasnoczerwony tekst przy najechaniu */
  transform: translateY(-2px); /* Subtelne przesunięcie w górę */
}

.navbar-link:hover::after {
  background-color: #fff; /* Pasek podświetlenia */
  height: 2px; /* Wysokość podświetlenia */
}



/* Stylizacja dla urządzeń mobilnych */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .custom-dropdown {
    position: relative;
  }

  .dropdown-list {
    right: auto;
  }
}

/* Stylizacja dla większych ekranów */
@media (min-width: 769px) {
  
  .menu-toggle {
    display: none;
  }

  .custom-dropdown {
    display: none;
  }

  .navbar-links {
    display: block;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-links ul li {
    margin-right: 15px;
  }

  .navbar-links ul li:last-child {
    margin-right: 0;
  }

  .navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .navbar-link:hover {
    background-color: #cc0000;
  }
}
