<div class="page-wrapper">
<body>
  <div *ngIf="configuratorService.showToast" class="toast">
    {{ configuratorService.toastMessage }}
  </div>

    <section class="content">
      <h1 class="section-title">KOMORA ZAMKA</h1>
  
      <app-rifle-preview></app-rifle-preview>

      <div *ngIf="rifles.length > 0">
        <!-- Check if data exists -->
        <form class="container">

          <!-- Chamber Engraving -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Zdobienie Komory Zamkowej</mat-label>
            <mat-select
              [value]="state.selectedChamberEngraving"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectChamberEngraving($event.value)"
              placeholder="Wybierz zdobienie komory zamkowej"
            >
              <mat-option *ngFor="let engraving of chamberEngravings" [value]="engraving">
                <div class="option-template">
                  <img [src]="engraving.iconImageUrl" alt="{{ engraving.name }}" />
                  <span>{{ engraving.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- Bolt Handle -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Rączka Zamka</mat-label>
            <mat-select
              [value]="state.selectedBoltHandle"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectBoltHandle($event.value)"
              placeholder="Wybierz rączkę zamka"
              [disabled]="state.isDisabledBoltHandle"
            >
              <mat-option *ngFor="let handle of boltHandles" [value]="handle">
                <div class="option-template">
                  <img [src]="handle.iconImageUrl" alt="{{ handle.name }}" />
                  <span>{{ handle.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- Trigger -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Spust</mat-label>
            <mat-select
              [value]="state.selectedTrigger"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectTrigger($event.value)"
              placeholder="Wybierz spust"
              [disabled]="state.isDisabledTrigger"
            >
              <mat-option *ngFor="let trigger of triggers" [value]="trigger">
                <div class="option-template">
                  <img [src]="trigger.iconImageUrl" alt="{{ trigger.name }}" />
                  <span>{{ trigger.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- Bolt Head -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Głowica Zamka</mat-label>
            <mat-select
              [value]="state.selectedBoltHead"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectBoltHead($event.value)"
              placeholder="Wybierz głowicę zamka"
              [disabled]="state.isDisabledBoltHead"
            >
              <mat-option *ngFor="let boltHead of boltHeads" [value]="boltHead">
                <div class="option-template">
                  <img [src]="boltHead.imageUrl" alt="{{ boltHead.name }}" />
                  <span>{{ boltHead.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </form>

        <div class="button-container">
          <button class="back-button" (click)="onBack()">
            <i class="fas fa-chevron-left"></i>&nbsp;Cofnij
          </button>
          <button class="next-button" (click)="onNext()">
            Dalej&nbsp;<i class="fas fa-chevron-right"></i>
        </button>
        </div>

      </div>
      <div *ngIf="rifles.length === 0">
        <p>No data to display.</p>
      </div>
    </section>
  </body>
<footer class="footer">
  <small>
    Developed by 
    <a href="mailto:s.piatkowski@twojabron.pl" class="footer-link">
      <i class="fa fa-envelope"></i> Sebastian Piątkowski
    </a> 
    for TBCH sp. z o.o.
  </small>
</footer>
</div>