<div class="page-wrapper">
<body>
  <!--Element odpowiedzialny za komunikat typu wybierz X, żeby przejść dalej-->
  <div *ngIf="configuratorService.showToast" class="toast">
   {{ configuratorService.toastMessage }}
  </div>
<section class="content">
    <h1 class="section-title">Akcesoria</h1>

    <app-rifle-preview></app-rifle-preview>
  
    <form class="container">
  
      <!-- Gun Case -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Futerał na broń</mat-label>
        <mat-select
          [value]="state.selectedGunCase"
         [compareWith]="compareOptionsById"
          placeholder="Wybierz futerał na broń"
          (selectionChange)="onSelectGunCase($event.value)"

        >
          <mat-option *ngFor="let option of gunCases" [value]="option">
            <div class="option-template">
              <img [src]="option.imageUrl" alt="{{ option.name }}" />
              <span>{{ option.name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Soft Gun Cover -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Pokrowiec miękki</mat-label>
        <mat-select
          [value]="state.selectedSoftGunCover"
          [compareWith]="compareOptionsById"
          placeholder="Wybierz pokrowiec miękki"
          (selectionChange)="onSelectSoftGunCover($event.value)"
        >
          <mat-option *ngFor="let option of softGunCovers" [value]="option">
            <div class="option-template">
              <img [src]="option.imageUrl" alt="{{ option.name }}" />
              <span>{{ option.name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Rifle Sling -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Pas do broni</mat-label>
        <mat-select
          [value]="state.selectedRifleSling"
          [compareWith]="compareOptionsById"
          placeholder="Wybierz pas do broni"
          (selectionChange)="onSelectRifleSling($event.value)"

        >
          <mat-option *ngFor="let option of rifleSlings" [value]="option">
            <div class="option-template">
              <img [src]="option.imageUrl" alt="{{ option.name }}" />
              <span>{{ option.name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>  
    </form>

    <div class="button-container">
      <button class="back-button" (click)="onBack()">
        <i class="fas fa-chevron-left"></i>&nbsp;Cofnij
      </button>
      <button class="next-button" (click)="onNext()">
        Dalej&nbsp;<i class="fas fa-chevron-right"></i>
      </button>
     </div>   
  </section>
  </body>
<footer class="footer">
  <small>
    Developed by 
    <a href="mailto:s.piatkowski@twojabron.pl" class="footer-link">
      <i class="fa fa-envelope"></i> Sebastian Piątkowski
    </a> 
    for TBCH sp. z o.o.
  </small>
</footer>
</div>