<section class="content">
    <h1 class="section-title">Akcesoria</h1>

    <app-rifle-preview></app-rifle-preview>
  
    <form class="container">
  
      <!-- Gun Case -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Futerał na broń</mat-label>
        <mat-select
          [(value)]="selectedGunCase"
          placeholder="Wybierz futerał na broń"
        >
          <mat-option *ngFor="let option of gunCases" [value]="option">
            <div class="option-template">
              <img [src]="option.imageUrl" alt="{{ option.name }}" />
              <span>{{ option.name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Soft Gun Cover -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Pokrowiec miękki</mat-label>
        <mat-select
          [(value)]="selectedSoftGunCover"
          placeholder="Wybierz pokrowiec miękki"
        >
          <mat-option *ngFor="let option of softGunCovers" [value]="option">
            <div class="option-template">
              <img [src]="option.imageUrl" alt="{{ option.name }}" />
              <span>{{ option.name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Rifle Sling -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Pas do broni</mat-label>
        <mat-select
          [(value)]="selectedRifleSling"
          placeholder="Wybierz pas do broni"
        >
          <mat-option *ngFor="let option of rifleSlings" [value]="option">
            <div class="option-template">
              <img [src]="option.imageUrl" alt="{{ option.name }}" />
              <span>{{ option.name }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>  
    </form>

    <div class="button-container">
        <button class="back-button" (click)="onBack()">← Cofnij</button>
        <button class="next-button" (click)="onNext()">Dalej →</button>
      </div>   
  </section>
  