
<div class="rifle-preview" *ngIf="state.selectedContour || state.selectedButtstockType || state.selectedChamberEngraving">
    <!-- Kontur wyświetlamy tylko, jeśli NIE ma profilu i NIE wybrano długości -->
    <img 
      *ngIf="state.selectedContour && !state.selectedProfile && !state.onSelectLength"
      [src]="state.selectedContour.imageUrl" 

      class="rifle-layer"
    />
  
    <!-- Profil wyświetlamy tylko, jeśli NIE wybrano długości -->
    <img 
      *ngIf="state.selectedProfile && !state.onSelectLength"
      [src]="
        (state.selectedContour.name === 'Tracking (17 mm)' || state.selectedContour.name === 'Safari (22 mm)' || state.selectedContour.name === 'Silence (17 mm)') 
          ? state.selectedContour.imageUrl 
          : state.selectedProfile.imageUrl
      "
      class="rifle-layer"
    />


    <img 
      *ngIf="state.selectedLength" 
      [src]="state.selectedLength.imageUrl" 
      class="rifle-layer"
      [attr.data-key]="state.selectedLength.imageUrl"
    >

    <ng-container *ngIf="state.selectedOpenSight?.imageUrl !== '' && state.selectedOpenSight as openSight">
      <img 
        [src]="openSight.imageUrl" 
        class="rifle-layer"
        [ngStyle]="{
          'top': configuratorService.getAttachmentPosition('openSight').top,
          'left': configuratorService.getAttachmentPosition('openSight').left
        }"
      >
      
      <img 
        *ngIf="openSight.secondaryImageUrl" 
        [src]="openSight.secondaryImageUrl" 
        class="rifle-layer"
        [ngStyle]="{
          'top': configuratorService.getSecondaryAttachmentPosition('secondaryOpenSight').top,
          'left': configuratorService.getSecondaryAttachmentPosition('secondaryOpenSight').left
        }"
      >
    </ng-container>
  
    <img 
    *ngIf="state.selectedMuzzleBrakeOrSuppressor" 
    [src]="state.selectedMuzzleBrakeOrSuppressor.imageUrl" 
    class="rifle-layer"
    [ngStyle]="{'top': configuratorService.getAttachmentPosition('muzzleBrakeOrSuppressor').top, 'left': configuratorService.getAttachmentPosition('muzzleBrakeOrSuppressor').left}"
  >
    <img *ngIf="state.selectedChamberEngraving" [src]="state.selectedChamberEngraving.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedChamberEngraving?.secondaryImageUrl" [src]="state.selectedChamberEngraving?.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedChamberEngraving?.thirdImageUrl" [src]="state.selectedChamberEngraving?.thirdImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedButtstockType" [src]="state.selectedButtstockType.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedButtstockType?.secondaryImageUrl" [src]="state.selectedButtstockType?.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedButtstockType?.thirdImageUrl" [src]="state.selectedButtstockType?.thirdImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedButtstockType?.fourthImageUrl" [src]="state.selectedButtstockType?.fourthImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedButtstockType?.fifthImageUrl" [src]="state.selectedButtstockType?.fifthImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedButtstockType?.sixthImageUrl" [src]="state.selectedButtstockType?.sixthImageUrl" class="rifle-layer">

    <img *ngIf="state.selectedWoodCategory" [src]="state.selectedWoodCategory.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedWoodCategory?.secondaryImageUrl" [src]="state.selectedWoodCategory?.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedWoodCategory?.thirdImageUrl" [src]="state.selectedWoodCategory?.thirdImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedWoodCategory?.fourthImageUrl" [src]="state.selectedWoodCategory?.fourthImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedWoodCategory?.fifthImageUrl" [src]="state.selectedWoodCategory?.fifthImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedWoodCategory?.sixthImageUrl" [src]="state.selectedWoodCategory?.sixthImageUrl" class="rifle-layer">

    <img *ngIf="state.selectedStockInlay" [src]="state.selectedStockInlay.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedStockInlay?.secondaryImageUrl" [src]="state.selectedStockInlay?.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedStockInlaySeam" [src]="state.selectedStockInlaySeam.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedRecoilPadSynthetic" [src]="state.selectedRecoilPadSynthetic.imageUrl" class="rifle-layer">

    <!-- Główna kolba (modularna), czyli np. Ultimate X -->
    <img *ngIf="state.selectedModularStockOptionSynthetic?.secondaryImageUrl" [src]="state.selectedModularStockOptionSynthetic.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedModularStockOptionSynthetic?.thirdImageUrl" [src]="state.selectedModularStockOptionSynthetic.thirdImageUrl" class="rifle-layer">

    <!-- Kolor kolby, jeśli nie ma baki Professional -->
    <img
    *ngIf="state.selectedStockColorSynthetic && !(state.selectedModularStockOptionSynthetic?.name?.includes('Regulowana baka (Professional)'))"
    [src]="state.selectedStockColorSynthetic.imageUrl"
    class="rifle-layer"
    />

    <!-- Stopka kolby modularnej -->
    <img
    *ngIf="state.selectedModularStockOptionSynthetic"
    [src]="state.selectedModularStockOptionSynthetic.imageUrl"
    class="rifle-layer"
    [ngStyle]="configuratorService.getModularStockOptionPosition()"
    />

    <!-- Warstwy dodatkowe koloru kolby -->
    <img *ngIf="state.selectedStockColorSynthetic?.secondaryImageUrl" [src]="state.selectedStockColorSynthetic.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedStockColorSynthetic?.thirdImageUrl" [src]="state.selectedStockColorSynthetic.thirdImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedStockColorSynthetic?.fourthImageUrl" [src]="state.selectedStockColorSynthetic.fourthImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedStockColorSynthetic?.fifthImageUrl" [src]="state.selectedStockColorSynthetic.fifthImageUrl" class="rifle-layer">
    
    <img *ngIf="state.selectedRecoilPad" [src]="state.selectedRecoilPad.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedBoltHandle" [src]="state.selectedBoltHandle.imageUrl" class="rifle-layer">
    <img *ngIf="state.selectedBoltHandle" [src]="state.selectedBoltHandle.secondaryImageUrl" class="rifle-layer">
    <img *ngIf="state.selectedTrigger" [src]="state.selectedTrigger.imageUrl" class="rifle-layer">
  </div> 