<div class="rifle-preview" *ngIf="state?.selectedRifle">
    <img [src]="state.selectedContour?.imageUrl" alt="Kontur broni" class="rifle-layer">
    <img [src]="state.selectedProfile?.imageUrl" alt="Profil lufy" class="rifle-layer">
    <img [src]="state.selectedLength?.imageUrl" alt="Długość lufy" class="rifle-layer">
    <img [src]="state.selectedOpenSight?.imageUrl" alt="Przyrząd celowniczy" class="rifle-layer">
    <img [src]="state.selectedButtstockType?.imageUrl" alt="Typ kolby" class="rifle-layer">
    <img [src]="state.selectedWoodCategory?.imageUrl" alt="Kategoria drewna" class="rifle-layer">
    <img [src]="state.selectedLengthOfPull?.imageUrl" alt="Długość kolby" class="rifle-layer">
    <img [src]="state.selectedIndividualButtstockMeasure?.imageUrl" alt="Indywidualny pomiar kolby" class="rifle-layer">
    <img [src]="state.selectedButtstockMeasuresType?.imageUrl" alt="Typ pomiarów kolby" class="rifle-layer">
    <img [src]="state.selectedPistolGripCap?.imageUrl" alt="Nasadka chwytu pistoletowego" class="rifle-layer">
    <img [src]="state.selectedStockMagazine?.imageUrl" alt="Magazynek" class="rifle-layer">
    <img [src]="state.selectedForearmOption?.imageUrl" alt="Opcja łoża" class="rifle-layer">
  </div>
  