<body>
  <section class="title">
    <h1>KALIBER & LUFA</h1>
  </section>

  <section class="content">
      <div class="riffle_photo">
        <img [src]="selectedRifle?.imageUrl" alt="Rifle Photo" loading="lazy">
      </div>
    
    <div *ngIf="rifles.length > 0"> <!-- Sprawdzamy, czy mamy dane -->
      <form class="container">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Model</mat-label>
          <mat-select
            [(value)]="selectedRifle" 
            (selectionChange)="onSelectRifle($event.value)"
            placeholder="Wybierz model"
          >
            <mat-option
              *ngFor="let rifle of rifles"
              [value]="rifle"
            >
              <div class="option-template">
                <img [src]="rifle.imageUrl" alt="{{ rifle.name }}" />
                <span>{{ rifle.name }}</span>
              </div>
            </mat-option>
          </mat-select>   
        </mat-form-field>
        

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Kontur</mat-label>
          <mat-select
            [(value)]="selectedContour" 
            (selectionChange)="turnOfOption()"
            placeholder="Wybierz kontur"
          >
            <mat-option
              *ngFor="let contour of contours"
              [value]="contour"
            >
              <div class="option-template">
                <img [src]="contour.imageUrl" alt="{{ contour.name }}" />
                <span>{{ contour.name }}</span>
              </div>
            </mat-option>
          </mat-select>   
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Kaliber</mat-label>
          <mat-select
            [(value)]="selectedCaliber"
            (selectionChange)="turnOfOption()"
            placeholder="Wybierz kaliber"
            >
            <mat-option
            *ngFor="let caliber of calibers"
            [value]="caliber"
            [disabled]="isDisabledCaliber"
            >
            <div class="option-template">
              <img [src]="caliber.imageUrl" alt="{{ caliber.name }}"/>
              <span>{{caliber.name}}</span>
            </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Profil</mat-label>
          <mat-select
            [(value)]="selectedProfile"
            (selectionChange)="turnOfOption()"
            placeholder="Wybierz profil">
            <mat-option
            *ngFor="let profil of profiles"
            [value]="profil"
            [disabled]="isDisabledProfile"
            >
            <div class="option-template">
              <img [src]="profil.imageUrl" alt="{{ profil.name }}"/>
              <span>{{profil.name}}</span>
            </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Długość</mat-label>
          <mat-select 
          [(value)]="selectedLenght"
          (selectionChange)="turnOfOption()"
          placeholder="Wybierz długość"
          >
          <mat-option 
          *ngFor="let length of lengths"
          [value]="length"
          [disabled]="isDisabledLength">
          <div class="option-template">
            <img [src]="length.imageUrl" alt="{{ length.name }}">
            <span>{{length.name}}</span>
          </div>
          </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Przyrządy celownicze</mat-label>
          <mat-select
          [(value)]="selectedOpenSight"
          (selectionChange)="turnOfOption()"
          placeholder="Wybierz przyrząd celowniczy"
          >
            <mat-option
            *ngFor="let openSight of openSights"
            [value]="openSight"
            [disabled]="isDisabledOpenSight"
            >
            <div class="option-template">
              <img [src]="openSight.imageUrl" alt="{{ openSight.name }}">
              <span>{{openSight.name}}</span>
            </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Hamulce wylotowe/tłumik</mat-label>
          <mat-select
          [(value)]="selectedMuzzleBreakorSilencer"
          (selectionChange)="turnOfOption()"
          placeholder="Wybierz hamulec/tłumik"
          >
          <mat-option
          *ngFor="let muzzleBreakorSilencer of muzzleBrakesOrSuppressors"
          [value]="muzzleBreakorSilencer"
          [disabled]="isDisabledMuzzleBreakorSilencer"
          >
          <div class="option-template">
            <img [src]="muzzleBreakorSilencer.imageUrl" alt="{{ muzzleBreakorSilencer.name }}">
            <span>{{muzzleBreakorSilencer.name}}</span>
          </div>
          </mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </div>
    <div *ngIf="rifles.length === 0">
      <p>Brak danych do wyświetlenia.</p>
    </div>
  </section>
</body>
