<body>
  <section class="content">
    <h1 class="section-title">KALIBER & LUFA</h1>

    <div class="rifle-preview">
      <img [src]="state.selectedContour?.imageUrl" alt="Stock" class="rifle-layer" />
      <img [src]="state.selectedButtstockType?.imageUrl" alt="Barrel" class="rifle-layer" />
    </div>
  
    
    <div *ngIf="rifles.length > 0">
      <!-- Sprawdzamy, czy mamy dane -->
      <form class="container">
        <!-- Wybór konturu -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Kontur</mat-label>
          <mat-select
            [(value)]="state.selectedContour"
            [compareWith]="compareOptionsById"
            (selectionChange)="onSelectContour($event.value)"
            placeholder="Wybierz kontur"
          >
            <mat-option *ngFor="let contour of contours" [value]="contour">
              <div class="option-template">
                <img [src]="contour.imageUrl" alt="{{ contour.name }}" />
                <span>{{ contour.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Wybór kalibru -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Kaliber</mat-label>
          <mat-select
            [(value)]="state.selectedCaliber"
            [compareWith]="compareOptionsById"
            placeholder="Wybierz kaliber"
            [disabled]="state.isDisabledCaliber"
            (selectionChange)="onSelectCaliber($event.value)"

          >
            <mat-option *ngFor="let caliber of calibers" [value]="caliber">
              <div class="option-template">
                <img [src]="caliber.imageUrl" alt="{{ caliber.name }}" />
                <span>{{ caliber.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Wybór profilu -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Profil</mat-label>
          <mat-select
            [(value)]="state.selectedProfile"
            [compareWith]="compareOptionsById"
            placeholder="Wybierz profil"
            [disabled]="state.isDisabledProfile"
            (selectionChange)="onSelectProfile($event.value)"
          >
            <mat-option *ngFor="let profile of profiles" [value]="profile">
              <div class="option-template">
                <img [src]="profile.imageUrl" alt="{{ profile.name }}" />
                <span>{{ profile.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Wybór długości -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Długość</mat-label>
          <mat-select
            [(value)]="state.selectedLength"
            [compareWith]="compareOptionsById"
            placeholder="Wybierz długość"
            [disabled]="state.isDisabledLength"
            (selectionChange)="onSelectLength($event.value)"

          >
            <mat-option *ngFor="let length of lengths" [value]="length">
              <div class="option-template">
                <img [src]="length.imageUrl" alt="{{ length.name }}">
                <span>{{ length.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Wybór przyrządów celowniczych -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Przyrządy celownicze</mat-label>
          <mat-select
            [(value)]="state.selectedOpenSight"
            [compareWith]="compareOptionsById"
            placeholder="Wybierz przyrząd celowniczy"
            [disabled]="state.isDisabledOpenSight"
            (selectionChange)="onSelectOpenSight($event.value)"
          >
            <mat-option *ngFor="let openSight of openSights" [value]="openSight">
              <div class="option-template">
                <img [src]="openSight.imageUrl" alt="{{ openSight.name }}">
                <span>{{ openSight.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Wybór hamulców wylotowych lub tłumików -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Hamulce wylotowe/tłumik</mat-label>
          <mat-select
            [(value)]="state.selectedMuzzleBrakeOrSuppressor"
            [compareWith]="compareOptionsById"
            placeholder="Wybierz hamulec/tłumik"
            [disabled]="state.isDisabledMuzzleBrakeOrSuppressor"
            (selectionChange)="onSelectMuzzleBrakeOrSuppressor($event.value)"
          >
            <mat-option *ngFor="let muzzleBrakeOrSuppressor of muzzleBrakesOrSuppressors" [value]="muzzleBrakeOrSuppressor">
              <div class="option-template">
                <img [src]="muzzleBrakeOrSuppressor.imageUrl" alt="{{ muzzleBrakeOrSuppressor.name }}">
                <span>{{ muzzleBrakeOrSuppressor.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>

      <div class="button-container">
        <button class="back-button" (click)="onBack()">← Cofnij</button>
        <button class="next-button" (click)="onNext()">Dalej →</button>
      </div>


    </div>
    <div *ngIf="rifles.length === 0">
      <p>Brak danych do wyświetlenia.</p>
    </div>
  </section>
</body>
