<body>
  <section class="title">
    <div class="title-row">
      <img src="/assets/blaser_types_pictures/Logo-BLASER.png" alt="Blaser Logo" class="logo logoBlaser">
      <div class="title-text">
        <h1 class="title-heading">Konfigurator Blaser</h1>
        <p class="subtitle">Personalizuj broń według własnych wymagań</p>
      </div>
      <img src="/assets/blaser_types_pictures/Logo-TwojaBron.png" alt="TwojaBron Logo" class="logo logoTwojaBron">
    </div>
  </section>

  <section class="image-gallery">
    <div class="image-item">
      <img src="/assets/blaser_types_pictures/BLA_F3_Attache_Game_konfigurator_kachel.jpg" alt="Blaser R8">
      <p class="image-caption">Konfigurator Blaser F3</p>
    </div>
    <div class="image-item">
      <img src="/assets/blaser_types_pictures/BLA_F16_Game_konfigurator_kachel.jpg" alt="Blaser K95">
      <p class="image-caption">Konfigurator Blaser F16</p>
    </div>
    <div class="image-item">
      <img src="/assets/blaser_types_pictures/BLA_R8_Standard_Konfi_Kachel.jpg" alt="Blaser Kipplauf">
      <p class="image-caption">Konfigurator Blaser R8</p>
    </div>
    <div class="image-item">
      <img src="/assets/blaser_types_pictures/K95_Konfigurator_Kachel.jpg" alt="Blaser Custom">
      <p class="image-caption">Konfigurator Blaser K95</p>
    </div>
  </section>
</body>
