.title-row {
    display: flex;
    align-items: center;
    justify-content: center; /* Zmiana z space-between na center */
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.logo {
    width: auto;
    height: auto;
    filter: brightness(0) invert(1);
    object-fit: contain;
    flex-shrink: 0;
}

.logoBlaser {
    max-height: 95px;
}

.logoTwojaBron {
    max-height: 105px;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-heading {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #cccccc;
    margin: 5px 0 0 0;
}

@media (max-width: 692px) {
    .title-row {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .title {
        padding: 20px;
        gap: 10px;
    }

    .title-heading {
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }

    .logo {
        max-height: 0px;
        width: auto;
        height: auto;
        flex-shrink: 0;
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.image-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* Zwiększone krycie tła */
    color: #ffffff;
    text-align: center;
    font-size: 18px; /* Większy rozmiar czcionki */
    padding: 15px; /* Większy padding */
    font-weight: 300; /* Grubsza czcionka */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Cień tekstu */
    text-transform: uppercase; /* Wersaliki */
    border-radius: 0 0 12px 12px;
    border-top: 2px solid #ffffff; /* Obramowanie górne */
}
