<body>
  <section class="content">
    <h1 class="section-title">KOLBA</h1>
    
    <div class="rifle-preview">
      <img [src]="selectedButtstockType?.imageUrl" alt="Stock" class="rifle-layer" />
      <img [src]="selectedButtstockType?.imageUrl" alt="Barrel" class="rifle-layer" />
    </div>
  
    <div *ngIf="rifles.length > 0">
      <!-- Sprawdzamy, czy mamy dane -->
      <form class="container">
        <!-- Typ Kolby -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Typ Kolby</mat-label>
          <mat-select
            [(value)]="state.selectedButtstockType"
            (selectionChange)="onSelectButtstockType($event.value)"
            placeholder="Wybierz typ kolby"
          >
          <mat-option *ngFor="let buttstockType of buttstockTypes" [value]="buttstockType">
            <div class="option-template">
              <img [src]="buttstockType.imageUrl" alt="{{ buttstockType.name }}" />
              <span>{{ buttstockType.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Kategoria Drewna -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Kategoria Drewna</mat-label>
          <mat-select
            [(value)]="state.selectedWoodCategory"
            (selectionChange)="onSelectWoodCategory($event.value)"
            placeholder="Wybierz kategorię drewna"
            [disabled]="state.isDisabledWoodCategory"
          >
          <mat-option *ngFor="let woodCategory of woodCategories" [value]="woodCategory">
            <div class="option-template">
              <img [src]="woodCategory.imageUrl" alt="{{ woodCategory.name }}" />
              <span>{{ woodCategory.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Długość Naciągu -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Długość Naciągu</mat-label>
          <mat-select
            [(value)]="state.selectedLengthOfPull"
            (selectionChange)="onSelectLengthOfPull($event.value)"
            placeholder="Wybierz długość naciągu"
            [disabled]="state.isDisabledLengthOfPull"
          >
          <mat-option *ngFor="let lengthOfPull of lengthsOfPull" [value]="lengthOfPull">
            <div class="option-template">
              <img [src]="lengthOfPull.imageUrl" alt="{{ lengthOfPull.name }}" />
              <span>{{ lengthOfPull.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Indywidualne Wymiary Kolby -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Indywidualne Wymiary Kolby</mat-label>
          <mat-select
            [(value)]="state.selectedIndividualButtstockMeasure"
            (selectionChange)="onSelectIndividualButtstockMeasure($event.value)"
            placeholder="Wybierz opcję"
            [disabled]="state.isDisabledIndividualButtstockMeasure"
          >
          <mat-option *ngFor="let individualButtstockMeasure of individualButtstockMeasures" [value]="individualButtstockMeasure">
            <div class="option-template">
              <img [src]="individualButtstockMeasure.imageUrl" alt="{{ individualButtstockMeasure.name }}" />
              <span>{{ individualButtstockMeasure.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Typ Wymiarów Kolby -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Typ Wymiarów Kolby</mat-label>
          <mat-select
            [(value)]="state.selectedButtstockMeasuresType"
            (selectionChange)="onSelectButtstockMeasuresType($event.value)"
            placeholder="Wybierz typ wymiarów"
            [disabled]="state.isDisabledButtstockMeasuresType"
          >
          <mat-option *ngFor="let buttstockMeasuresType of buttstockMeasuresTypes" [value]="buttstockMeasuresType">
            <div class="option-template">
              <img [src]="buttstockMeasuresType.imageUrl" alt="{{ buttstockMeasuresType.name }}" />
              <span>{{ buttstockMeasuresType.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Nasadka na Chwyt Pistoletowy -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Nasadka na Chwyt Pistoletowy</mat-label>
          <mat-select
            [(value)]="state.selectedPistolGripCap"
            (selectionChange)="onSelectPistolGripCap($event.value)"
            placeholder="Wybierz opcję"
            [disabled]="state.isDisabledPistolGripCap"
          >
          <mat-option *ngFor="let pistolGripCap of pistolGripCaps" [value]="pistolGripCap">
            <div class="option-template">
              <img [src]="pistolGripCap.imageUrl" alt="{{ pistolGripCap.name }}" />
              <span>{{ pistolGripCap.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Kickstop -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Kickstop</mat-label>
          <mat-select
            [(value)]="state.selectedKickstop"
            (selectionChange)="onSelectKickstop($event.value)"
            placeholder="Wybierz kickstop"
            [disabled]="state.isDisabledKickstop"
          >
          <mat-option *ngFor="let kickstop of kickstops" [value]="kickstop">
            <div class="option-template">
              <img [src]="kickstop.imageUrl" alt="{{ kickstop.name }}" />
              <span>{{ kickstop.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Magazyn w Kolbie -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Magazyn w Kolbie</mat-label>
          <mat-select
            [(value)]="state.selectedStockMagazine"
            (selectionChange)="onSelectStockMagazine($event.value)"
            placeholder="Wybierz magazyn"
            [disabled]="state.isDisabledStockMagazine"
          >
          <mat-option *ngFor="let stockMagazine of stockMagazines" [value]="stockMagazine">
            <div class="option-template">
              <img [src]="stockMagazine.imageUrl" alt="{{ stockMagazine.name }}" />
              <span>{{ stockMagazine.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Opcja Przedłużenia -->
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Opcja Przedłużenia</mat-label>
          <mat-select
            [(value)]="state.selectedForearmOption"
            (selectionChange)="onSelectForearmOption($event.value)"
            placeholder="Wybierz opcję"
            [disabled]="state.isDisabledForearmOption"
          >
          <mat-option *ngFor="let forearmOption of forearmOptions" [value]="forearmOption">
            <div class="option-template">
              <img [src]="forearmOption.imageUrl" alt="{{ forearmOption.name }}" />
              <span>{{ forearmOption.name }}</span>
            </div>
          </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <div class="button-container">
        <button class="back-button" (click)="onBack()">← Cofnij</button>
        <button class="next-button" (click)="onNext()">Dalej →</button>
      </div>

    </div>
    <div *ngIf="rifles.length === 0">
      <p>Brak danych do wyświetlenia.</p>
    </div>
  </section>
</body>
