<body>
  <section class="content">
    <h1 class="section-title">KOLBA</h1>
    
    <div class="rifle-preview">
      <img [src]="selectedButtstockType?.imageUrl" alt="Stock" class="rifle-layer" />
      <img [src]="selectedButtstockType?.imageUrl" alt="Barrel" class="rifle-layer" />
    </div>
  
    <div *ngIf="rifles.length > 0">
      <!-- Sprawdzamy, czy mamy dane -->
      <form class="container">
        <!-- Typ Kolby -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="buttstockTypes && buttstockTypes.length > 0">
          <mat-label>Typ Kolby</mat-label>
          <mat-select
            [(value)]="selectedButtstockType"
          
            placeholder="Wybierz typ kolby"
          >
            <mat-option
              *ngFor="let option of buttstockTypes"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Kategoria Drewna -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="woodCategories && woodCategories.length > 0">
          <mat-label>Kategoria Drewna</mat-label>
          <mat-select
            [(value)]="selectedWoodCategory"
            placeholder="Wybierz kategorię drewna"
            [disabled]="isDisabledWoodCategory"
          >
            <mat-option
              *ngFor="let option of woodCategories"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Długość Naciągu -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="lengthsOfPull && lengthsOfPull.length > 0">
          <mat-label>Długość Naciągu</mat-label>
          <mat-select
            [(value)]="selectedLengthOfPull"
            placeholder="Wybierz długość naciągu"
            [disabled]="isDisabledLengthOfPull"
          >
            <mat-option
              *ngFor="let option of lengthsOfPull"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Indywidualne Wymiary Kolby -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="individualButtstockMeasures && individualButtstockMeasures.length > 0">
          <mat-label>Indywidualne Wymiary Kolby</mat-label>
          <mat-select
            [(value)]="selectedIndividualButtstockMeasure"
            placeholder="Wybierz opcję"
            [disabled]="isDisabledIndividualButtstockMeasure"
          >
            <mat-option
              *ngFor="let option of individualButtstockMeasures"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Typ Wymiarów Kolby -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="buttstockMeasuresTypes && buttstockMeasuresTypes.length > 0">
          <mat-label>Typ Wymiarów Kolby</mat-label>
          <mat-select
            [(value)]="selectedButtstockMeasuresType"
            placeholder="Wybierz typ wymiarów"
            [disabled]="isDisabledButtstockMeasuresType"
          >
            <mat-option
              *ngFor="let option of buttstockMeasuresTypes"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Nasadka na Chwyt Pistoletowy -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="pistolGripCaps && pistolGripCaps.length > 0">
          <mat-label>Nasadka na Chwyt Pistoletowy</mat-label>
          <mat-select
            [(value)]="selectedPistolGripCap"
            placeholder="Wybierz opcję"
            [disabled]="isDisabledPistolGripCap"
          >
            <mat-option
              *ngFor="let option of pistolGripCaps"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Kickstop -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="kickstops && kickstops.length > 0">
          <mat-label>Kickstop</mat-label>
          <mat-select
            [(value)]="selectedKickstop"
            placeholder="Wybierz kickstop"
            [disabled]="isDisabledKickstop"
          >
            <mat-option
              *ngFor="let option of kickstops"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Magazyn w Kolbie -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="stockMagazines && stockMagazines.length > 0">
          <mat-label>Magazyn w Kolbie</mat-label>
          <mat-select
            [(value)]="selectedStockMagazine"
            placeholder="Wybierz magazyn"
            [disabled]="isDisabledStockMagazine"
          >
            <mat-option
              *ngFor="let option of stockMagazines"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Opcja Przedłużenia -->
        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="forearmOptions && forearmOptions.length > 0">
          <mat-label>Opcja Przedłużenia</mat-label>
          <mat-select
            [(value)]="selectedForearmOption"

            placeholder="Wybierz opcję"
            [disabled]="isDisabledForearmOption"
          >
            <mat-option
              *ngFor="let option of forearmOptions"
              [value]="option"
            >
              <div class="option-template">
                <img [src]="option.imageUrl" alt="{{ option.name }}" />
                <span>{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
      </form>

      <div class="button-container">
        <button class="back-button" (click)="onBack()">← Cofnij</button>
        <button class="next-button" (click)="onNext()">Dalej →</button>
      </div>

    </div>
    <div *ngIf="rifles.length === 0">
      <p>Brak danych do wyświetlenia.</p>
    </div>
  </section>
</body>
