<div class="page-wrapper">
<body>
  <!--Element odpowiedzialny za komunikat typu wybierz X, żeby przejść dalej-->
  <div *ngIf="configuratorService.showToast" class="toast">
    {{ configuratorService.toastMessage }}
  </div>

  <section class="content">
    <h1 class="section-title">KOLBA</h1>

    <app-rifle-preview></app-rifle-preview>

    <!-- Jeśli jest selectedRifle -->
    <ng-container *ngIf="state?.selectedRifle; else woodStockForm">
      
      <!-- Jeśli syntetyczna kolba -->
      <ng-container *ngIf="shouldShowSyntheticStock(); else woodStockForm">
        <app-synthetic-stock></app-synthetic-stock>
      </ng-container>
    
    </ng-container>

    <!-- Domyślny formularz kolby drewnianej -->
    <ng-template #woodStockForm>
      <div>
        <form class="container">

          <!-- Typ Kolby -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Typ kolby</mat-label>
            <mat-select
              [value]="state.selectedButtstockType"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectButtstockType($event.value)"
              placeholder="Wybierz typ kolby"
            >
              <mat-option *ngFor="let buttstockType of buttstockTypes" [value]="buttstockType">
                <div class="option-template">
                  <img [src]="buttstockType.iconImageUrl" alt="{{ buttstockType.name }}" />
                  <span>{{ buttstockType.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Kategoria Drewna -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Klasa drewna</mat-label>
            <mat-select
              [value]="state.selectedWoodCategory"
              [compareWith]="compareOptionsById"
              placeholder="Wybierz kategorię drewna"
              [disabled]="state.isDisabledWoodCategory"
              (selectionChange)="onSelectWoodCategory($event.value)"
            >
              <mat-option *ngFor="let woodCategory of woodCategories" [value]="woodCategory">
                <div class="option-template">
                  <img [src]="woodCategory.iconImageUrl" alt="{{ woodCategory.name }}" />
                  <span>{{ woodCategory.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="isLeatherRifleSelected()">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Wykończenie kolby</mat-label>
              <mat-select
                [value]="state.selectedStockInlay"
                [compareWith]="compareOptionsById"
                (selectionChange)="onSelectStockInlay($event.value)"
                placeholder="Wybierz wykończenie kolby"
                >
                <mat-option *ngFor="let stockInlay of stockInlays" [value]="stockInlay">
                  <div class="option-template">
                  <img [src]="stockInlay.iconImageUrl" alt="{{ stockInlay.name }}" />
                  <span>{{ stockInlay.name }}</span>
                </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="(isStockInlaySelected() && state.isDisabledRecoilPad) || !!state.selectedStockInlaySeam">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Kolor obszycia</mat-label>
              <mat-select
                [value]="state.selectedStockInlaySeam"
                [compareWith]="compareOptionsById"
                (selectionChange)="onSelectStockInlaySeam($event.value)"
                placeholder="Wybierz kolor obszycia"
                >
                <mat-option *ngFor="let stockInlaySeam of stockInlaySeams" [value]="stockInlaySeam">
                  <div class="option-template">
                  <img [src]="stockInlaySeam.iconImageUrl" alt="{{ stockInlaySeam.name }}" />
                  <span>{{ stockInlaySeam.name }}</span>
                </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <!-- Długość Stopki -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Długość stopki</mat-label>
            <mat-select
              [value]="state.selectedRecoilPad"
              [compareWith]="compareOptionsById"
              [disabled]="state.isDisabledRecoilPad"
              (selectionChange)="onSelectRecoilPad($event.value)"
              placeholder="Wybierz długość stopki"
            >
              <mat-option *ngFor="let recoilPad of recoilPads" [value]="recoilPad">
                <div class="option-template">
                  <img [src]="recoilPad.iconImageUrl" alt="{{ recoilPad.name }}" />
                  <span>{{ recoilPad.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Kapsel -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Kapsel</mat-label>
            <mat-select
              [value]="state.selectedPistolGripCap"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectPistolGripCap($event.value)"
              placeholder="Wybierz kapsel"
              [disabled]="state.isDisabledPistolGripCap"
            >
              <mat-option *ngFor="let pistolGripCap of pistolGripCaps" [value]="pistolGripCap">
                <div class="option-template">
                  <img [src]="pistolGripCap.imageUrl" alt="{{ pistolGripCap.name }}" />
                  <span>{{ pistolGripCap.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Kickstop -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Kickstop</mat-label>
            <mat-select
              [value]="state.selectedKickstop"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectKickstop($event.value)"
              placeholder="Wybierz kickstop"
              [disabled]="state.isDisabledKickstop"
            >
              <mat-option *ngFor="let kickstop of kickstops" [value]="kickstop">
                <div class="option-template">
                  <img [src]="kickstop.imageUrl" alt="{{ kickstop.name }}" />
                  <span>{{ kickstop.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Magazyn w Kolbie -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Magazyn w Kolbie</mat-label>
            <mat-select
              [value]="state.selectedStockMagazine"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectStockMagazine($event.value)"
              placeholder="Wybierz magazyn"
              [disabled]="state.isDisabledStockMagazine"
            >
              <mat-option *ngFor="let stockMagazine of stockMagazines" [value]="stockMagazine">
                <div class="option-template">
                  <img [src]="stockMagazine.imageUrl" alt="{{ stockMagazine.name }}" />
                  <span>{{ stockMagazine.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Opcja Przedłużenia -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Opcja Przedłużenia</mat-label>
            <mat-select
              [value]="state.selectedForearmOption"
              [compareWith]="compareOptionsById"
              (selectionChange)="onSelectForearmOption($event.value)"
              placeholder="Wybierz opcję przedłużenia"
              [disabled]="state.isDisabledForearmOption"
            >
              <mat-option *ngFor="let forearmOption of forearmOptions" [value]="forearmOption">
                <div class="option-template">
                  <img [src]="forearmOption.imageUrl" alt="{{ forearmOption.name }}" />
                  <span>{{ forearmOption.name }}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

        </form>

        <div class="button-container">
          <button class="back-button" (click)="onBack()">
            <i class="fas fa-chevron-left"></i>&nbsp;Cofnij
          </button>
          <button class="next-button" (click)="onNext()">
            Dalej&nbsp;<i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </ng-template>

  </section>
</body>
<footer class="footer">
  <small>
    Developed by 
    <a href="mailto:s.piatkowski@twojabron.pl" class="footer-link">
      <i class="fa fa-envelope"></i> Sebastian Piątkowski
    </a> 
    for TBCH sp. z o.o.
  </small>
</footer>
</div>