<body>
  <section class="title">
    <h1>KALIBER & LUFA</h1>
  </section>

  <section class="content">
      <div class="riffle_photo">
        <img src="assets/riffle_pictures/blaser_r8_ultimate.jpg" alt="Rifle Photo" loading="lazy">
      </div>
    
    <div *ngIf="rifles.length > 0"> <!-- Sprawdzamy, czy mamy dane -->
      <form class="container">

        <mat-form-field appearance="fill" style="width: 70%;">
          <mat-label>Kontur</mat-label>
          <mat-select
            [(value)]="selectedContour" 
            (selectionChange)="turnOfOption()"
            placeholder="Wybierz kontur"
          >
            <mat-option
              *ngFor="let contour of contours"
              [value]="contour"
            >
              <div class="option-template">
                <img [src]="contour.imageUrl" alt="{{ contour.name }}" />
                <span>{{ contour.name }}</span>
              </div>
            </mat-option>
          </mat-select>
          
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 70%;">
          <mat-label>Kaliber</mat-label>
          <mat-select
            [(value)]="selectedCaliber"
            (selectionChange)="turnOfOption()"
            placeholder="Wybierz kaliber"
            >
            <mat-option
            *ngFor="let caliber of calibers"
            [value]="caliber"
            [disabled]="isDisabledCaliber"
            >
            <div class="option-template">
              <img [src]="caliber.imageUrl" alt="{{ caliber.name }}"/>
              <span>{{caliber.name}}</span>
            </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 70%;">
          <mat-label>Profil</mat-label>
          <mat-select
            [(value)]="selectedProfile"
            (selectionChange)="turnOfOption()"
            placeholder="Wybierz profil">
            <mat-option
            *ngFor="let profil of profiles"
            [value]="profil"
            [disabled]="isDisabledProfile"
            >
            <div class="option-template">
              <img [src]="profil.imageUrl" alt="{{ profil.name }}"/>
              <span>{{profil.name}}</span>
            </div>
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill" style="width: 70%;">
          <mat-label>Długość</mat-label>
          <mat-select 
          [(value)]="selectedLenght"
          (selectionChange)="turnOfOption()"
          placeholder="Wybierz długość"
          >
          <mat-option 
          *ngFor="let length of lengths"
          [value]="length"
          [disabled]="isDisabledLength">
          <div class="option-template">
            <img [src]="length.imageUrl" alt="{{ length.name }}">
            <span>{{length.name}}</span>
          </div>
          </mat-option>
          </mat-select>
        </mat-form-field>



        <label>Długość</label>
        <select [disabled]="isDisabledLength" [(ngModel)]="selectedLenght" name="isDisabledLength" (ngModelChange)="turnOfOption()">
          <option [ngValue]="''" disabled>Wybierz długość</option>
          <option *ngFor="let length  of lengths" [ngValue]="length">{{length}}</option>
        </select>

        <label>Przyrządy celownicze</label>
        <select [disabled]="isDisabledOpenSight" [(ngModel)]="selectedOpenSight" name="isDisabledOpenSight" (ngModelChange)="turnOfOption()">
          <option [ngValue]="''" disabled>Wybierz przyrządy celownicze</option>
          <option *ngFor="let openSight of openSights" [ngValue]="openSight">{{openSight}}</option>
        </select>

        <label>Hamulce wylotowe/tłumik</label>
        <select [disabled]="isDisabledMuzzleBreakorSilencer" [(ngModel)]="selectedMuzzleBreakorSilencer" name="isDisabledMuzzleBreakorSilencer" (ngModelChange)="turnOfOption()">
          <option [ngValue]="''" disabled>Wybierz hamulec/tłumik</option>
          <option *ngFor="let muzzleBreakorSilencer of muzzleBrakesOrSuppressors" [ngValue]="muzzleBreakorSilencer">{{muzzleBreakorSilencer}}</option>
        </select>
      </form>
    </div>
    <div *ngIf="rifles.length === 0">
      <p>Brak danych do wyświetlenia.</p>
    </div>
  </section>
</body>
